/* App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%; /* Ensures the entire page takes up full height */
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1; /* This ensures the content grows to fill available space */
  }
  
  footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
  }
  